* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f2ef;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

a {
  all: unset;
  display: inline;
  color: inherit;
  text-decoration: none;
}

.menu-container {
  grid-area: menu;
}

.main-container {
  grid-area: main;
}

.right-container {
  grid-area: right;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  max-width: 70rem;
  width: 100%;
  display: grid;

  margin-top: 4.79rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;

  grid-template-areas: "menu main right";
  grid-template-columns: minmax(0, 225px) minmax(0, auto) minmax(0, 300px);

  gap: 1.25rem;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: minmax(0, 225px) minmax(0, 387px) minmax(0, 300px);
    width: auto;
  }
}

@media (max-width: 992px) {
  .right-container {
    display: none;
  }

  .grid-container {
    grid-template-areas: "menu main";
    grid-template-columns: minmax(0, 225px) minmax(0, 471px);
    width: auto;
  }
}

@media (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .grid-container {
    grid-template-areas: "main";
    grid-template-columns: minmax(0, 576px);
    width: auto;
  }
}
