* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f2ef;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

a {
  all: unset;
  display: inline;
  color: inherit;
  text-decoration: none;
}

.menu-container {
  grid-area: menu;
}

.main-container {
  grid-area: main;
}

.right-container {
  grid-area: right;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  max-width: 70rem;
  width: 100%;
  display: grid;

  margin-top: 4.79rem;

  grid-template-areas: "menu main right";
  grid-template-columns: minmax(0, 225px) minmax(0, auto) minmax(0, 300px);

  gap: 1.25rem;
  /* background-color: #f3f2ef; */
}

.grid-container > div {
}
